<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" data-theme="dracula">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>EpicTask</title>
</head>
<body>

<nav class="navbar bg-base-300 shadow-sm">
    <div class="flex-1 flex items-center gap-2">
        <img src="/assets/logo.png" alt="Logo Epic Task" class="w-20 h-20" />
        <a class="btn btn-ghost text-xl">Epic Task</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li>
                <details>
                    <summary>🌎</summary>
                    <ul class="bg-base-100 rounded-t-none p-2">
                        <li><a href="ranking.html">Ranking </a></li>
                        <li><a href="?lang=pt_BR">🇧🇷</a></li>
                        <li><a href="?lang=en_US">🏴</a></li>
                    </ul>
                </details>
            </li>
        </ul>
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    <img alt="Avatar do usuário" th:src="${avatarUrl}" />
                </div>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                <li>
                    <a class="justify-between"
                       th:text="${user.attributes['email'] != null ? user.attributes['email'] : user.attributes['login']}">
                    </a>
                </li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="overflow-x-auto max-w-lg mx-auto mt-8">
    <table class="table">
        <!-- head -->
        <thead>
        <tr>
            <th>Name</th>
            <th>Score</th>

        </tr>
        </thead>
        <tbody>
        <!-- row 1 -->
        <tr th:each="user : ${users}">
            <td>
                <div class="flex items-center gap-3">
                    <div class="avatar">
                        <div class="mask mask-squircle h-12 w-12">
                            <img
                                    th:src="${user.avatarUrl}"
                                    alt="Avatar Tailwind CSS Component" />
                        </div>
                    </div>
                    <div>
                        <div th:text="${user.name}" class="font-bold"></div>
                        <div th:text="${user.email}" class="text-sm opacity-50"></div>
                    </div>
                </div>
            </td>
            <td th:text="${user.score}">
            </td>


        </tbody>
    </table>
</div>


</body>
</html>